# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# server
/server/node_modules

# dependencies
/redux-thunk/node_modules
/redux-thunk-hooks/node_modules
/redux-saga/node_modules
/redux-observable/node_modules

# misc
.DS_Store
/redux-thunk/.DS_Store
/redux-thunk-hooks/.DS_Store
/redux-saga/.DS_Store
/redux-observable/.DS_Store

/redux-thunk/yarn-debug.log*
/redux-thunk/yarn-error.log*
/redux-thunk-hooks/yarn-debug.log*
/redux-thunk-hooks/yarn-error.log*
/redux-saga/yarn-debug.log*
/redux-saga/yarn-error.log*
/redux-observable/yarn-debug.log*
/redux-observable/yarn-error.log*
