# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# server
/server/node_modules

# dependencies
/redux-observable/node_modules

# misc
.DS_Store
/redux-observable/.DS_Store

/redux-observable/yarn-debug.log*
/redux-observable/yarn-error.log*
